<h4>MES COMPÉTENCES</h4>
<div class="row">
  <div class="col s12 m4">
    <p>Frontend</p>
    <p>HTML/CSS</p>
    <div class="progress">
      <div class="determinate" style="width: 70%"></div>
    </div>

    <p>JavaScript</p>
    <div class="progress">
      <div class="determinate" style="width: 60%"></div>
    </div>

    <p>Angular</p>
    <div class="progress">
      <div class="determinate" style="width: 45%; "></div>
    </div>

    <p>Bootstrap</p>
    <div class="progress">
      <div class="determinate" style="width: 50%;"></div>
    </div>

    <p>Materialize</p>
    <div class="progress">
      <div class="determinate" style="width: 50%; "></div>
    </div>
    
  </div>

  <div class="col s12 m4">
    <p>Backend</p>
    <p>Node.js</p>
    <div class="progress">
      <div class="determinate" style="width: 15%"></div>
    </div>

    <p>Java</p>
    <div class="progress">
      <div class="determinate" style="width: 60%"></div>
    </div>

    <p>Spring Boot</p>
    <div class="progress">
      <div class="determinate" style="width: 50%"></div>
    </div>

    <p>PHP</p>
    <div class="progress">
      <div class="determinate" style="width: 50%"></div>
    </div>
  </div>

  <div class="col s12 m4">
    <p>Base de données</p>
    <p>MySQL</p>
    <div class="progress">
      <div class="determinate" style="width: 50%"></div>
    </div>


    <p>PostgreSQL</p>
    <div class="progress">
      <div class="determinate" style="width: 40%"></div>
    </div>
  </div>
</div>
