<div class="about-me">
    <h4 class="section-title">À propos de moi</h4>
    <h5 class="subtitle">Recherche de stage</h5>
    <p>
      Étudiant en Master 2 Informatique – Génie Logiciel à l’Université de Bordeaux, je suis à la recherche d’un stage de fin d’études à partir d’avril 2025. 
      <br> Doté d’un esprit créatif, dynamique et curieux, j’allie rigueur et sens de l’organisation dans chacun de mes projets. 
      Passionné par les technologies et constamment motivé à apprendre. 
      <br> Je souhaite mettre à profit mes compétences au sein de vos équipes pour contribuer activement à vos projets innovants.
    </p>
  
    <h6 class="section-title">Informations Personnelles</h6>
    <ul class="personal-info">
      <li><span>Nom :</span> BAH</li>
      <li><span>Prénom :</span> ALHOUSSEINE</li>
      <li><span>Email :</span> housseineba97&#64;gmail.com</li>
      <li><span>Téléphone :</span> +33 7 51 05 77 65</li>
    </ul>
  </div>
  