<div class="row">
    <div class="col-lg-4">
        <div class="contact-info">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  
                  <i class="fas fa-map-marker-alt"></i>
            
                  <h5 class="card-title">Domicile</h5>
            
                        <p>80 Rue de ronsard
            
                             <span>Bordeaux-France</span></p>
                </div>
              </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="contact-info">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  
                    <i class="fas fa-phone-alt"></i>

            
                  <h5 class="card-title">Appelez Moi</h5>
                  <p>+33 751 05 77 65<span></span></p>
                </div>
              </div>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="contact-info">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  
                    <i class="fas fa-envelope"></i>

            
                    <h3>Courriel</h3>
                    <p>housseineba97&#64;gmail.com <span></span></p>
                </div>
              </div>
        </div>
    </div>
   
   
</div>
