<p class="section-title">Mes Projets</p>

<div class="row">
    <div class="col s12 m4">
        <div class="card hoverable">
            <div class="card-image">
                <img src="assets/images/projet1.jpg" alt="Projet 1">
            </div>
            <div class="card-content">
                <span class="card-title">Simulation D'application Transfert d'Argent</span>
                <p>Application de simulation de transferts d'argent entre utilisateurs, avec interface intuitive et sécurisée.</p>
            </div>
            <div class="card-action">
                <a href="https://github.com/BAH-ALHOUSSEINE/Projet_transfert"  target="_blank" class="waves-effect waves-light btn">Voir sur GitHub</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card hoverable">
            <div class="card-image">
                <img src="assets/images/projet3.png" alt="Projet 2">
            </div>
            <div class="card-content">
                <span class="card-title">Éditeur de Figures Géométriques</span>
                <p>Projet d'éditeur permettant de créer et manipuler des figures géométriques sur une interface graphique.</p>
            </div>
            <div class="card-action">
                <a href="https://github.com/BAH-ALHOUSSEINE/Projet-Micro-diteur-de-figures-g-om-triques-"  target="_blank" class="waves-effect waves-light btn">Voir sur GitHub</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card hoverable">
            <div class="card-image">
                <img src="assets/images/projet4.png" alt="Projet 2">
            </div>
            <div class="card-content">
                <span class="card-title">Test d'interface web</span>
                <p>projet de Test d'interface web</p>
            </div>
            <div class="card-action">
                <a href="https://github.com/NiNejah/ui_testing"  target="_blank" class="waves-effect waves-light btn">Voir sur GitHub</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card hoverable">
            <div class="card-image">
                <img src="assets/images/projet2.png" alt="Projet 3">
            </div>
            <div class="card-content">
                <span class="card-title">Traitement d'Images</span>
                <p>Projet de traitement d'images permettant d'appliquer plusieurs filtres et transformations sur des images numériques.</p>
            </div>
            <div class="card-action">
                <a href="https://gitlab.emi.u-bordeaux.fr/pdl_groupe29/pdl_projet29"  target="_blank" class="waves-effect waves-light btn">Voir sur GitLab</a>
            </div>
        </div>
    </div>
</div>
