<section id="formations">
    <h2 class="section-title">Mes Formations</h2>
    <div class="timeline">

        <!-- Formation 1 -->
        <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
                <h3>Master 2 Informatique – Génie Logiciel</h3>
                <h4>Université de Bordeaux</h4>
                <p class="timeline-date">2024- 2025</p>
                <p>Master Informatique</p>
            </div>
        </div>

        <!-- Formation 2 -->
        <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
                <h3>Licence Informatique</h3>
                <h4>Université de Bordeaux</h4>
                <p class="timeline-date">2021- 2022</p>
                <p>Licence Informatique</p>
            </div>
        </div>

        <!-- Formation 3 -->
        <div class="timeline-item">
            <div class="timeline-icon"></div>
            <div class="timeline-content">
                <h3>Baccalauréat Scientifique</h3>
                <h4>Lycée Sylla lamine</h4>
                <p class="timeline-date">2016-2017</p>
                <p>Baccalauréat Scientifique</p>
            </div>
        </div>

    </div>
</section>

